* {
	background-color: rgb(60,50,75);
	color: #777777;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif; 
	/*font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif; 
	text-decoration: none;*/
}